<!-- Events-->
<input id="app-event-1" type="checkbox"/>
<input id="app-event-2" type="checkbox"/>
<input id="app-event-3" type="radio" name="app-event-3" checked="checked"/>
<input id="app-event-4" type="radio" name="app-event-3"/>
<div class="body">
  <div class="app">
    <div class="app-menu">
      <div class="app-nav">
        <label for="app-event-1" class="app-nav__icon"></label>
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="app-menu__title">Tom Franck</div>
      <div class="app-search">
        <label for="app-event-2" class="app-search__icon"></label>
        <div class="app-search__field">
          <input type="text" placeholder="Search..."/>
        </div>
      </div>
    </div>
    <div class="app-header">
      <div class="app-header__image"><img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/512/user-edit-icon.png" class="afbeelding"/><img src="https://cdn1.iconfinder.com/data/icons/freeline/32/album_gallery_image_images_photo_photos_pictures_portfolio-128.png" class="afbeelding2"/></div>
      <div class="app-tabs">
        <label for="app-event-3" class="app-tabs__tab app-tabs__tab--one">About me</label>
        <label for="app-event-4" class="app-tabs__tab app-tabs__tab--two">My Work</label>
      </div>
    </div>
    <div class="app-body">
      <div class="app-panel app-panel--one">
        <div class="app-panel__header"><span>Who am I?</span></div>
        <div class="app-panel__content">
          Hi! My name is Tom Franck and i have a passion for graphic design and everything containing digital media. Currently I'm following Graphic & Digital Media at the AP Hogeschool in Antwerp. On this website you can find some of my work or contact me.

        </div>

         <img src="https://s16.postimg.org/hppn4rwph/IMG_0004.jpg" class="ikzelf">

        <div class="contact">
        <div class="app-panel__header"><span>Contact</span></div>

  <form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="text" class="feedback-input" placeholder="Message"></textarea>
  <input type="submit" value="SUBMIT"/>
</form>
      </div>
      <div class="footer">
  <p>&copy; Tom Franck - MyBucketList Project 2016 - CMT3 - Used libraries: Slick & Dragula</p>
</div>
      </div>


      <!-- tweede kader -->

     <div class="app-panel app-panel--two">
       <div class="app-panel__header"><span>recent</span></div>
        <div class="app-panel__content">


<div id="slider">

    <div id="allpic">
      <img src="https://s14.postimg.org/d8b57fcwh/d_EDch_FK.png"/>
    </div>
    <div id="allpic">
      <img src="https://s21.postimg.org/db2nvgkrr/image.jpg"/>
    </div>
  <div id="allpic">
      <img src="https://s18.postimg.org/k7x3gk7k9/doos.jpg"/>
    </div>
  <div id="allpic">
      <img src="https://s4.postimg.org/lgg53xvrt/portfoliophotoshop13.jpg"/>
    </div>
  <div id="allpic">
      <img src="https://s4.postimg.org/kpney5teh/portfoliophotoshop12.jpg"/>
    </div>



</div><!-- slider end -->

        </div>

       <!-- tweede -->
        <div class="app-panel__content">

          <div class="topwaarde">
            <div class="app-panel__header"><span>Timeline</span></div>
<div class="fotos">
  <img src="https://s21.postimg.org/db2nvgkrr/image.jpg">
</div>
<div class="fotos">
  <img src="https://s22.postimg.org/4puan9r2p/image.jpg">

</div>
<div class="fotos">

  <img src="https://s21.postimg.org/6zxgf1jjb/image.png">

</div>
<div class="fotos">

  <img src="https://s21.postimg.org/lx5xg1wrr/image.jpg">

</div>
   </div>
       </div> <!-- topw -->
      </div>

    </div>
  </div>
</div>
